{% extends "ejercicios/base.html" %}

{% block title %}
    Lista de productos
{% endblock %}

{% block content %}

    <h1>Lista de productos</h1>

    <a href="{% url 'product-create' %}">
        Crear nuevo producto
    </a>

    <hr>

    {% if products %}

        {% for product in products %}

            <p>
                Producto número:
                {{ forloop.counter }}
            </p>

            {% if forloop.counter|divisibleby:"5" %}
                <p>
                    Esta iteración es divisible entre 5.
                </p>
            {% endif %}

            {% include "ejercicios/product_card.html" with product=product %}

            <hr>

        {% endfor %}

    {% else %}

        <p>
            No hay productos registrados.
        </p>

    {% endif %}

{% endblock %}
