<article>

    <h2>
        {{ product.name|upper }}
    </h2>

    <p>
        <strong>Precio:</strong>
        ${{ product.price }}
    </p>

    <p>
        <strong>Descripción:</strong>
        {{ product.description|truncatechars:40 }}
    </p>

    <p>
        <strong>Vendedor:</strong>
        {{ product.seller|title }}
    </p>

    <p>
        <strong>Color:</strong>
        {{ product.color|lower }}
    </p>

    <p>
        <strong>Dimensiones:</strong>
        {{ product.product_dimensions }}
    </p>

    <a href="{% url 'product-detail' product.pk %}">
        Ver detalle
    </a>

</article>
